.myMap-title{
    font-size:36px;
}


.myMap-main-container{
    display:flex;
    flex-direction:row;
    margin-top : 8vh;
    margin-left : 3vw;
}
.myMap-loading-icon-container{
    width:44vw;
    height:70vh;
    margin-left: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.myMap-loading-icon{
    font-size:64px;
}
.myMap-kakao-map{
    width: 44vw;
    height: 70vh;
    margin-left: 1vw;
    border: 10px solid rgb(204, 204, 204);
    border-radius: 20px;
}
.myMap-marker-text{
    color: #5cAEE3E6;
    padding:5px;
}
.myMap-tab-container{
    display: flex;
    flex-direction: column;
    margin-left:8vw;
    align-items:center;
}
.myMap-tab-title{
    font-size:20px;
    /*margin-left:5vw;*/
}
@media (max-width: 1300px){
    .myMap-header-userName{
        font-size:24px;
    }
}

@media screen and (max-width:768px){
    .myMap-main-container{
        display:flex;
        flex-direction:column;
        align-items:center;
        width: 100%;
        margin:0;
    }
    .myMap-kakao-map{
        width:70vw;
        height:50vh;
        margin:0;
    }
    .myMap-tab-container{
        margin:0;
        padding:24px;
    }
    .myMap-tab-title{
        padding:12px;
    }
    .myMap-tab{
        margin:0;
    }

}