.login-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    background-color:hwb(0 100% 0%);
    height: 100vh;
}
.login-title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    text-align: center;
}
.login-title{
    font-size:  48px;
}

.login{
    width: 40vw;
    height: 50vh;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #d8d8da;
    margin-top: 8vh;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(192, 222, 242);
}
.login-subtitle{
    font-size : 48px;
}

.login-button-container{
    display:flex;
    flex-direction:column;
}
.login-text-new-user{
    color:slategrey;
    text-align:center;
}
.login-text-create-account{
    color: #1677ff;
    text-align:center;
}

.login-text-create-account:hover{
    color : #ff8800;
}

@media (max-width: 600px) {
    .login-title{
        font-size:36px;
    }
    .login{
        width:90vw;
    }
    .login-subtitle{
        font-size:24px;
    }
}